version: "2"
services:
  jenkins:
    image: jenkinsci/blueocean
    # choose user
    # user: jenkins
    user: root
    ports:
      - "8080:8080"
      - "8443:8443"
      - "50000:50000"
    volumes:
      - ./jenkins_data:/var/jenkins_home
      - ./home:/home
      - /var/run/docker.sock:/var/run/docker.sock